<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">GUIA DE EMPRESAS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarEmpresas()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarEmpresas()">
        
        <div class="tabla-responsiva"><table ng-table="tablaEmpresas" class="table table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" />
                <col width="25%" />
                <col width="150px" />
                <col width="auto" />
                <col width="18%" />
                <col width="10%"/>
                <col width="100px" />
            </colgroup>   
            <tr ng-repeat="u in $data">
                <td data-title="'N'" sortable="'i'" >{{u.i}}</td>
                <td data-title="'Razon Social'" filter="{ razonSocial: 'text'}" sortable="'nombreUsuario'" >{{u.razonSocial}}</td>
                <td data-title="'RUC'" filter="{ ruc: 'text'}" sortable="'ruc'" style="text-align: center">{{u.ruc}}</td>
                <td data-title="'Pag. Web'" filter="{ pagWeb: 'text'}" sortable="'pagWeb'" >{{u.pagWeb}}</td>
                <td data-title="'Telefono'" filter="{ telefono: 'text'}" sortable="'telefono'" style="text-align: center">{{u.telefono}}</td>
                <td data-title="'Condicion'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                <span class="label label-mini" ng-class="{'label-info': u.estado=='A','label-warning': u.estado=='I'}">{{u.estado}}</span>
                </td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(u)" title="Editar Empresa"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarEmpresa(u.i,u.empresaID)" title="Eliminar Empresa"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
            
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " ng-click="prepararAgregar()" ><i class="fa fa-plus" ></i> Agregar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR EMPRESA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">RUC *</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="empresaSel.ruc" disabled>
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Razon Social *</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="empresaSel.razonSocial" disabled>
                    </div>
                </div>
                <hr/>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Pagina web</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="empresaSel.pagWeb">
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Telefono</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="empresaSel.telefono">
                    </div>
                    
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-4">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="empresaSel.estado" ng-value="'A'" >Activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="empresaSel.estado" ng-value="'I'">Inactivo</label>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarEmpresa()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA EMPRESA</h4>
      </div>
      <div class="modal-body">
                    
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                   <div class="form-group" >
                        <label class="col-sm-2 control-label">RUC *</label>
                        <div class="col-sm-10"><div class="input-group m-bot15">
                                <input type="text" class="form-control input-lg" ng-keyup="reiniciarDatos()" style="text-align: center;" data-mask="99999999999" ng-model="nuevaEmpresa.ruc" >
                            <span class="input-group-btn">
                                <button class="btn btn-success input-lg" type="button" ng-click="buscarEmpresa()">Verificar</button>
                            </span>
                        </div></div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Razon Social *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaEmpresa.razonSocial" ng-disabled="nuevaEmpresa.ruc=='' || nuevaEmpresa.existe">
                        </div>
                    </div>
<!--                    <div class="form-group" >
                        <label class="col-sm-2 control-label">A Paterno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.paterno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                        <label class="col-sm-2 control-label">A Materno *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaPersona.materno" ng-disabled="nuevaPersona.dni=='' || nuevaPersona.existe">
                        </div>
                    </div>-->
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Pagina Web *</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevaEmpresa.pagWeb" ng-disabled="nuevaEmpresa.ruc=='' || nuevaEmpresa.existe">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Telefono *</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="nuevaEmpresa.telefono" ng-disabled="nuevaEmpresa.ruc=='' || nuevaEmpresa.existe">
                        </div>
                        
                    </div>
                    
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Condicion</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaEmpresa.estado" ng-value="'A'" checked>Activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevaEmpresa.estado" ng-value="'I'">Inactivo</label>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarEmpresa()" ng-disabled="nuevaEmpresa.ruc=='' || nuevaEmpresa.existe"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
