<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">MODULOS DEL SISTEMA</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarModulos()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body">
        
        <div class="tabla-responsiva"><table class="table table-striped table-hover " ng-init="listarModulos()">
          <thead>
          <tr>
              <th style="width: 65px;">Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th style="text-align: center">Estado</th>
              <th style="width: 65px">SubModulos</th>
              <th style="width: 65px"></th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="m in modulos">
                <td class="hidden-phone">{{m.codigo}}</td>
                <td class="hidden-phone">{{m.nombre}}</td>
                <td class="hidden-phone">{{m.descripcion}}</td>
                <td style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': m.estado=='A','label-warning': m.estado=='I'}">{{m.estado}}</span>
                </td>
                
                <td style="text-align: center">
                    <span class="label label-mini label-primary" ng-click="verSubModulos(m)" style="cursor:pointer">ver</span>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar($index,m)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarModulo($index,m.moduloID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
          </tbody>
          </table></div>        
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarModulos()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR MODULO SISTEMA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Codigo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="moduloSel.codigo">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="moduloSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Descripcion</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="moduloSel.descripcion"></textarea>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="moduloSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="moduloSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarModulo()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVO MODULO</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Codigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoModulo.codigo">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nuevoModulo.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="nuevoModulo.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoModulo.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nuevoModulo.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarModulo()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">LISTA DE SUBMODULOS</h4>
      </div>
      <div class="modal-body">
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 65px;">Codigo</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th style="text-align: center">Estado</th>
              </tr>
              </thead>

              <tbody >

                <tr ng-repeat="sm in subModulosSel">
                    <td class="hidden-phone">{{sm.codigo}}</td>
                    <td class="hidden-phone">{{sm.nombre}}</td>
                    <td class="hidden-phone">{{sm.descripcion}}</td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-info': sm.estado=='A','label-warning': sm.estado=='I'}">{{sm.estado}}</span>
                    </td>
                </tr>
              </tbody>

            </table>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

