<div class="row fichaEvaluacion">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <md-progress-linear ng-if="ctrlcargoComision.showProgress" md-mode="indeterminate"></md-progress-linear>
                <h4 style="display:inline;line-height: 1.9">Cargos de Comision</h4>
                <span class="tools pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="ctrlcargoComision.nuevoCargo()">Nuevo</button>
                </span>
            </header>
            <div class="panel-body">
                <table ng-table="ctrlcargoComision.tablaCargos" class="table table-bordered table-hover table-condensed editable-table" >
                    <colgroup>
                        <col width="10%" />
                        <col width="25%" />
                        <col width="50%" />
                        <col width="15%" />
                    </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowFormCargo">
                        <td ng-form="cod" data-title="'Num.'"><span>{{$index}}</span></td>
                        <td filter="{nom: 'text'}" sortable="'nom'"  ng-form="nom" data-title="'Nombre'"><span>{{row.nom}}</span></td>
                        <td ng-form="des" data-title="'Descripcion'"><span>{{row.des}}</span></td>
                        <td align="center">
                            <button class="btn btn-primary btn-sm" ng-click="ctrlcargoComision.editarCargo(row)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm md-primary md-raised" ng-disabled='row.nom == "PRESIDENTE" ||row.nom == "PARTICIPANTE" ' ng-click="ctrlcargoComision.eliminarCargo($event,row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/ng-template" id="nuevoMonto.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ctrl.titulo}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nombre_cargo" class="col-lg-2 control-label">Nombre del Cargo:</label>
                <div class="col-lg-10">
                    <input name = "nombreCargo" id="nombre_cargo" class="form-control" type="text" ng-model="ctrl.cargo.nom" ng-disabled= 'ctrl.cargo.nom == "PARTICIPANTE" || ctrl.cargo.nom == "PRESIDENTE"' required>
                    <span ng-show="myForm.nombreCargo.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="form-group">
                <label for="des_cargo" class="col-lg-2 control-label">Descripcion:</label>
                <div class="col-lg-10">
                    <textarea id="des_cargo"  name = "desCargo" class="form-control" row="10" ng-model="ctrl.cargo.des" required></textarea>
                    <span ng-show="myForm.desCargo.$error.required">Este Campo es Requerido</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ctrl.guardar()">Guardar</button>
                    <button class="btn btn-primary" ng-click="ctrl.cancelar()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</script>