<div class="modal fade" id="modalEditarPMDetalle" >
    <div class="modal-dialog modal-lg" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal style-form" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seleccione Especialista: </label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="nuevoMonitoreoDetalle.espId" 
                                        ng-options="eu.traId as eu.traDetalle for eu in especialistasUGEL">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Docente: </label>
                            <div class="col-sm-6">              
                                <input class="form-control" type="text" disabled="disabled"ng-model="nuevoMonitoreoDetalle.docDetalle" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Etapa </label>
                            <div class="col-sm-6">              
                                <input class="form-control" type="text" disabled="disabled" ng-model="nuevoMonitoreoDetalle.etapaDes" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha de Visita: </label>
                            <div class="col-sm-3">
                                <p class="input-group">
                                    <input type="text" placeholder="dd-mm-yyyy" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="nuevoMonitoreoDetalle.fecVis" 
                                           is-open="date_1" close-text="Cerrar" show-meridian="true" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="date_1 = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="actualizarDetalleMonitoreo()"> Guardar </button>                
                <button type="button" class="btn btn-danger" data-dismiss="modal" > Cancelar </button>                        
            </div>
        </div>
    </div>
</div>