<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">GENERAR PLANTILLA</h4>
                
                <button type="button" class="btn btn-success tools  pull-right" ng-click="ver()"><i class="fa fa-eye" ></i> Ver</button>
                
            </header>

        </section>
    </div>
</div>


<div class="container col-lg-12" ng-init="iniciarDatos()">
    <fieldset ng-disabled="!cabeceraPlantilla">
        <legend>Paso #1:</legend>
            <div class="form-group " >               
                <label class="control-label col-sm-2" for="tipoPlantillaId">Tipo de Plantilla: </label>

                <div class="col-sm-2">
                    <select class="form-control" ng-model="nuevaPlantilla.tipoDoc" ng-options="tip.nombre for tip in tipoDocumentos">
                        <option value="">Selecionar:</option>    
                    </select>
                </div>
            
            </div>
            <div class="form-group" >               
                <label class="control-label col-sm-2" for="descripcionPlantilla">Descripcion de Plantilla: </label>
                <div class="col-sm-4">
                    <input  class="form-control" size="40" type="text" id="descripcionPlantilla" ng-model="nuevaPlantilla.descripcion">
                </div>

            </div>
            <span class="tools  pull-right" >               

                <button type="button" class="btn btn-primary " ng-click="continuarCabecera()">Continuar</button>

            </span>
        
    </fieldset>
    <fieldset ng-disabled="!contenidos[0]">
        <legend>Paso #2:</legend>
        <div class="form-group ">
            <textarea readonly class="form-control" rows="5" id="contenido" ng-model="nuevaPlantilla.contenidoPlantilla[0].contenido"></textarea>

            <span class="tools  pull-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInsertarEncabezado" >Insertar Encabezado</button>
                <button type="button" class="btn btn-primary" ng-click="continuarEncabezado()">Continuar</button>
            </span>

        </div>

    </fieldset>
    <fieldset ng-disabled="!contenidos[1]">
        <legend>Paso #2:</legend>
        <div class="form-group ">
            <textarea readonly class="form-control" rows="5" id="contenido" ng-model="nuevaPlantilla.contenidoPlantilla[1].contenido"></textarea>

            <span class="tools  pull-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInsertarCuerpo">Insertar Cuerpo</button>
                <button type="button" class="btn btn-primary" ng-click="continuarCuerpo()">Continuar</button>
            </span>

        </div>

    </fieldset>
    <fieldset ng-disabled="!contenidos[2]">
        <legend>Paso #3:</legend>
        <div class="form-group">
            <textarea readonly class="form-control" rows="3" id="despedida" ng-model="nuevaPlantilla.contenidoPlantilla[2].contenido"></textarea>
        </div>
        <span class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInsertarDespedida">Insertar Despedida</button>
            <button type="button" class="btn btn-primary" ng-click="continuarDespedida()">Continuar</button>
        </span>
    </fieldset>
    <div class="row">
        <span class=" pull-right">
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalImagenesAdjuntar"><i class="fa fa-upload" ></i> Adjuntar Imagenes</button>
            <button type="button" class="btn btn-primary" ng-click="cancelarEdicion()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-disabled="!verificado" ng-click="guardar()">Guardar</button>
        </span>
    </div>

    <div class="modal fade" id="modalInsertarEncabezado" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Encabezado</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal " >
                        <div class="form-group"> 
                            <div class="col-sm-3">
                                <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                <select class="form-control" ng-model="nuevaPlantilla.contenidoPlantilla[0].nombreLetra" ng-options="tip.nomLetra for tip in letras">
                                     
                                </select>
                            </div>
                            <div class="col-sm-2">

                                <label class="control-label">Tamaño:</label>
                                <input class="form-control" type="number" min="8" max="20" value="11" ng-model="nuevaPlantilla.contenidoPlantilla[0].size">

                            </div>
                            <div class="col-sm-4">

                                <label class="control-label" for="alineacionId">Alineacion:</label>
                                <br>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqEnc()">
                                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].alineacion==alineacion[0]}" ng-click="botonAlineacionCenEnc()">
                                        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].alineacion==alineacion[3]}" ng-click="botonAlineacionDerEnc()">
                                        <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].alineacion==alineacion[1]}" ng-click="botonAlineacionJusEnc()">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" for="formatoId">Formato</label>
                                <br>
                                <div class="btn-group-sdc-2">
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].isBold==true}" ng-click="botonBoldEnc()">
                                        <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].isCursiva==true}" ng-click="botonCursivaEnc()">
                                        <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[0].isSubrayado==true}" ng-click="botonSubrayadoEnc()">
                                        <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group ">
                        <textarea  class="form-control" rows="5" ng-model="nuevaPlantilla.contenidoPlantilla[0].contenido"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelarEncabezado()">Cancelar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Guardar</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="modalInsertarCuerpo" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cuerpo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group"> 
                            <div class="col-sm-3">
                                <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                <select class="form-control" ng-model="nuevaPlantilla.contenidoPlantilla[1].nombreLetra" ng-options="tip.nomLetra for tip in letras">
                                    
                                </select>
                            </div>
                            <div class="col-sm-2">

                                <label class="control-label">Tamaño:</label>


                                <input class="form-control" type="number" min="8" max="20" value="11" ng-model="nuevaPlantilla.contenidoPlantilla[1].size">

                            </div>
                            <div class="col-sm-4">

                                <label class="control-label" for="alineacionId">Alineacion:</label>
                                <br>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqCue()">
                                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].alineacion==alineacion[0]}" ng-click="botonAlineacionCenCue()">
                                        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].alineacion==alineacion[3]}" ng-click="botonAlineacionDerCue()">
                                        <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].alineacion==alineacion[1]}" ng-click="botonAlineacionJusCue()">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" for="formatoId">Formato</label>
                                <br>
                                <div class="btn-group-sdc-2">
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].isBold==true}" ng-click="botonBoldCue()">
                                        <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].isCursiva==true}" ng-click="botonCursivaCue()">
                                        <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[1].isSubrayado==true}" ng-click="botonSubrayadoCue()">
                                        <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>

                    <br>
                    <div class="form-group ">
                        <textarea  class="form-control" rows="5" ng-model="nuevaPlantilla.contenidoPlantilla[1].contenido"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelarCuerpo()">Cancelar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Guardar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modalInsertarDespedida" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Despedida</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group"> 
                            <div class="col-sm-3">
                                <label class="control-label" for="tipoPlantillaId">Letra:</label>
                                <select class="form-control" ng-model="nuevaPlantilla.contenidoPlantilla[2].nombreLetra" ng-options="tip.nomLetra for tip in letras">
                                    
                                </select>
                            </div>
                            <div class="col-sm-2">

                                <label class="control-label">Tamaño:</label>


                                <input class="form-control" type="number" min="8" max="20" value="11">

                            </div>
                            <div class="col-sm-4">

                                <label class="control-label" for="alineacionId">Alineacion:</label>
                                <br>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].alineacion==alineacion[2]}" ng-click="botonAlineacionIzqDes()">
                                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Center Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].alineacion==alineacion[0]}" ng-click="botonAlineacionCenDes()">
                                        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Right Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].alineacion==alineacion[3]}" ng-click="botonAlineacionDerDes()">
                                        <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Justify Align" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].alineacion==alineacion[1]}" ng-click="botonAlineacionJusDes()">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" for="formatoId">Formato</label>
                                <br>
                                <div class="btn-group-sdc-2">
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].isBold==true}" ng-click="botonBoldDes()">
                                        <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].isCursiva==true}" ng-click="botonCursivaDes()">
                                        <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-class="{'active' :nuevaPlantilla.contenidoPlantilla[2].isSubrayado==true}" ng-click="botonSubrayadoDes()">
                                        <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group ">
                        <textarea  class="form-control" rows="5" ng-model="nuevaPlantilla.contenidoPlantilla[2].contenido"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelarDespedida()">Cancelar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Guardar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modalImagenesAdjuntar" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adjuntar Imagenes</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" >
                        <div class="col-sm-12">
                            <div class="tabla-responsiva" style="max-height: 230px;border-top: 2px solid #ddd;margin-bottom: 0px;">
                                <table class="table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width:15px">Ver</th>

                                            <th style="width:auto">Descripcion</th>
                                            <th style="width:30%;">Adjunto</th>
                                            <th style="width:66px">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in imagenes">
                                            <td>
                                                <div>
                                                    <label><input type="radio" name="optradio" ng-model="verImagen.archivo" ng-value="d.archivo"></label>
                                                </div>

                                            </td>    

                                            <td>
                                                <span ng-hide="d.edi" >{{d.descripcion}}</span>
                                                <span ng-show="d.edi" ><input ng-model="d.copia.descripcion"/></span>
                                            </td>
                                            <td style="word-break: break-all;">
                                                <span ng-hide="d.edi" ><view-file  nombre="d.nombreArchivo" archivo="d.archivo"> </view-file></span>
                                                <span ng-show="d.edi" ><input-file nombre="d.copia.nombreArchivo" archivo="d.copia.archivo"></input-file></span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="editarImagen($index,d)"><i class="fa" ng-class="{'fa-check':d.edi,'fa-pencil':!d.edi}" ></i></button>
                                                <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!d.edi}" ng-click="eliminarImagen($index,d)"><i class="fa" ng-class="{'fa-times':d.edi,'fa-trash-o':!d.edi}"></i></button>                          
                                            </td>
                                            <!--                        <td>
                                                                        <div class="radio">
                                                                            <label><input type="radio" name="optradio"></label>
                                                                        </div>
                                                                    </td>-->
                                        </tr>
                                    </tbody>
                                </table></div>
                            <table class="table peque" style="margin-bottom: 8px;background: #f1f2f7;">
                                <tr>
                                    <td style="width:15px">+</td>
                                    <td style="width:auto"><input type="text" class="form-control input-table" ng-model="imagen.descripcion"></td>
                                    <td style="width:30%;word-break: break-all;"><input-file nombre="imagen.nombreArchivo" archivo="imagen.archivo"></input-file></td>
                                <td style="width:66px">
                                    <button class="btn btn-success btn-xs" ng-click="agregarImagen  ()" title="agregar requisito"><i class="fa fa-plus" ></i></button>
                                </td>

                                </tr>                      
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>


