<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">                
                <div class="form-group" style="vertical-align: middle">
                    <div class="col-sm-10">
                        <h4 class="modal-title" style="display:inline;line-height: 1.9">{{preguntaCtrl.evaNom}}</h4><br>
                        <h6 class="modal-title" style="display:inline;line-height: 1.9">{{preguntaCtrl.capNom}}</h6><br>
                        <small class="form-text text-muted" ng-if="preguntaCtrl.tipCap === 'Presencial'">Sede: {{preguntaCtrl.sedNom}}</small>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn btn-danger btn-block" ng-disabled="preguntaCtrl.sedEst === 'F' || preguntaCtrl.evaEst !== 'A'" ng-click="preguntaCtrl.bancoPreguntas()"><span class="glyphicon glyphicon-book"></span> Banco Preguntas</button>
                    </div>
                </div>
            </header>          
            <div class="panel-body" ng-init="preguntaCtrl.listarPreguntas()">
                <div class="tabla-responsiva">
                    <table ng-table="preguntaCtrl.tablaPreguntas" class="table table-striped table-hover">
                        <tr ng-repeat-start="question in $data">
                            <td width="20%" data-title="'Nombre'" filter="{nom: 'text'}" sortable="'nom'">{{question.nom}}</td>
                            <td width="15%" data-title="'Tipo'" filter="{tip: 'select'}" filter-data="[{id: 'S', title:'Simple'},{id: 'L', title:'Verdadero o Falso'},{id: 'M', title:'Opción Múltiple'}]" sortable="'tip'" style="text-align: center">
                                <span class="label label-mini" ng-class="{'label-info': question.tip === 'S','label-warning': question.tip === 'L','label-success': question.tip === 'M'}">{{question.tip === 'S' ? "Simple" : question.tip === 'L' ? "Verdadero o Falso" : "Opción Múltiple"}}</span>
                            </td>
                            <td width="50%" data-title="'Descripción'" filter="{des: 'text'}" sortable="'des'">{{question.des}}</td>
                            <td width="5%" data-title="'Puntaje'" filter="{pun: 'number'}" sortable="'pun'" style="text-align: center">{{question.pun}}</td>
                            <td width="10%" data-title="'Acción'" style="text-align: center">
                                <button class="btn btn-default btn-xs" ng-click="question.$ver = !question.$ver" title="Ver Pregunta"><i class="glyphicon" ng-class="{'glyphicon-eye-close': question.$ver,'glyphicon-eye-open': !question.$ver}"></i></button>
                                <button class="btn btn-primary btn-xs" ng-disabled="preguntaCtrl.sedEst === 'F' || preguntaCtrl.evaEst !== 'A'" ng-click="preguntaCtrl.editarPregunta(question)" title="Editar Pregunta"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger btn-xs" ng-disabled="preguntaCtrl.sedEst === 'F' || preguntaCtrl.evaEst !== 'A'" ng-click="preguntaCtrl.eliminarPregunta(question)" title="Eliminar Pregunta"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        <tr ng-show="question.$ver" ng-repeat-end>
                            <td colspan="5">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div ng-if="question.tip === 'S'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-info" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-info btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{question.des}}</strong></p>
                                                <label class="col-lg-2 col-lg-offset-1 control-label" style="text-align:left">Respuesta:</label>
                                                <div class="col-lg-6">
                                                    <input class="form-control" type="text" ng-model="question.res" ng-disabled="true">
                                                    <small class="form-text text-muted" style="text-align:justify">Solución: {{question.res}}</small>
                                                </div>
                                                <div class="col-lg-2" style="text-align:center">
                                                    <span class="label" ng-class="{'label-info': question.pun === question.pun,'label-default': question.pun !== question.pun}">{{question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                    <div ng-if="question.tip === 'L'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-warning" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-warning btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{question.des}}</strong></p>
                                                <div class="col-lg-4 col-lg-offset-3" style="text-align:center">
                                                    <div class="btn-group">
                                                        <label ng-class="{'btn btn-default disabled': !question.res,'btn btn-success disabled': question.res}" ng-model="question.res" uib-btn-radio="true" uncheckable>Verdadero</label>
                                                        <label ng-class="{'btn btn-default disabled': question.res,'btn btn-success disabled': !question.res}" ng-model="question.res" uib-btn-radio="false" uncheckable>Falso</label>
                                                    </div><br>
                                                    <center><small class="form-text text-muted" style="text-align:justify">Solución: {{(question.res)?"Verdadero":"Falso"}}</small></center>
                                                </div>
                                                <div class="col-lg-2" style="text-align:center">
                                                    <span class="label" ng-class="{'label-warning': question.pun === question.pun,'label-default': question.pun !== question.pun}">{{question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                    <div ng-if="question.tip === 'M'">
                                        <uib-accordion>
                                            <div uib-accordion-group class="panel-success" is-open="true">
                                                <uib-accordion-heading>
                                                    P1: {{question.nom}}
                                                    <i class="pull-right glyphicon"> 
                                                        <button class="btn btn-success btn-xs">{{question.pun}} pts. <span class="glyphicon glyphicon-education"></span></button>
                                                    </i>
                                                </uib-accordion-heading>
                                                <p><strong>{{question.des}}</strong></p>
                                                <div class="col-lg-10 col-lg-offset-1">
                                                    <table class="table table-striped table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="opt in question.res">
                                                                <td width="5%" sortable="'sel'" style="text-align: center">
                                                                    <button ng-class="{'btn btn-success btn-xs': opt.sel, 'btn btn-default btn-xs': !opt.sel}"><span class="glyphicon glyphicon-check"></span></button>
                                                                </td>
                                                                <td>{{opt.nom}}</td>
                                                            </tr>                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-lg-4 col-lg-offset-3" style="text-align:center">
                                                    <div ng-if="question.emp">
                                                        <small class="form-text text-muted" style="text-align:justify">Solución: No debió marcar ninguna</small></center>
                                                    </div>
                                                    <div ng-if="!question.emp">
                                                        <small class="form-text text-muted" style="text-align:justify">Solución(es):</small></center>
                                                        <div class="col-lg-12" ng-repeat="opt in question.res">
                                                            <small class="form-text text-muted" ng-if="opt.sel">{{opt.nom}}</small>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="col-lg-2" style="text-align:center">
                                                    <span class="label" ng-class="{'label-success': question.pun === question.pun,'label-default': question.pun !== question.pun}">{{question.pun}} pts.</span>
                                                    <center><small class="form-text text-muted">Puntaje Logrado</small></center>
                                                </div>
                                            </div>                                            
                                        </uib-accordion>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <span class="tools pull-right">
                    <button class="btn btn btn-success" ng-disabled="preguntaCtrl.sedEst === 'F' || preguntaCtrl.evaEst !== 'A'" ng-click="preguntaCtrl.agregarPregunta()"><span class="glyphicon glyphicon-plus"></span> Nueva Pregunta</button>
                </span>
            </div>            
        </section>
    </div>
</div>
<script type="text/ng-template" id="question.html">
    <div class="modal-header">
        <h3 class="modal-title">{{question.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-2 control-label">Tipo:</label>
                <div class="col-lg-3">
                    <select name="type" class="form-control" ng-model="question.question.tip" ng-change="question.change(question.question.tip)" required>
                        <option ng-repeat="stage in question.tipoPregunta" value="{{stage.id}}">{{stage.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.type.$error.required">Requerido</small>
                </div>
                <label class="col-lg-1 control-label">Nombre:</label>
                <div class="col-lg-6">
                    <input name="name" class="form-control" type="text" ng-model="question.question.nom" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Descripción:</label>
                <div class="col-lg-10">
                    <input name="comment" class="form-control" type="text" ng-model="question.question.des" required>
                    <small class="form-text text-muted" ng-show="myForm.comment.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group" ng-if="question.question.tip === 'S'">
                <label class="col-lg-2 control-label">Respuesta:</label>
                <div class="col-lg-7">
                    <input name="simple" class="form-control" type="text" ng-model="question.question.res.s" required capitalize>
                    <small class="form-text text-muted" ng-show="myForm.simple.$error.required">Este campo es requerido</small>
                </div>
                <label class="col-lg-1 control-label">Puntaje:</label>
                <div class="col-lg-2">
                    <input name="score" class="form-control" type="number" ng-model="question.question.pun" min="0" required>
                ​    <small class="form-text text-muted" ng-show="myForm.score.$error.required || myForm.score.$error.min">Requerido (mín = 0)</small>
                </div>
            </div>
            <div class="form-group" ng-if="question.question.tip === 'M'">
                <label class="col-lg-2 control-label">Puntaje:</label>
                <div class="col-lg-2">
                    <input name="score" class="form-control" type="number" ng-model="question.question.pun" min="0" required>
                ​    <small class="form-text text-muted" ng-show="myForm.score.$error.required || myForm.score.$error.min">Requerido (mín = 0)</small>
                </div>
                <div class="col-lg-12">
                ​    <center><small class="form-text text-muted">Ingrese las opciones que considere necesarias y luego seleccione la(s) respuesta(a) correcta(s)</small></center>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="tabla-responsiva">
                        <table ng-table="question.tableOptions" class="table table-bordered table-hover table-condensed editable-table demoTable" demo-tracked-table="question.tableTracker">
                            <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                                <td width="5%" sortable="'sel'" style="text-align: center">
                                    <button ng-class="{'btn btn-success btn-xs': row.sel, 'btn btn-default btn-xs': !row.sel}"  ng-click="question.activar(row)" title="Seleccionar"><span class="glyphicon glyphicon-check"></span></button>
                                </td>
                                <td width="80%" title="'Opciones'" sortable="'nom'" ng-switch="row.isEditing" ng-class="grade.$dirty ? 'bg-warning' : ''" ng-form="nomForm" demo-tracked-table-cell>
                                    <span ng-switch-default class="editable-text">{{row.nom}}</span>
                                    <div class="controls" ng-class="nomForm.$invalid && nomForm.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                      <input type="text" name="nom" ng-model="row.nom" class="editable-input form-control input-sm" required/>
                                      <small class="form-text text-muted" ng-show="nomForm.nom.$error.required">Este campo es requerido</small>
                                    </div>
                                </td>
                                <td width="15%" data-title="'Acciones'" style="text-align:center">
                                    <button class="btn btn-primary btn-xs" ng-click="question.guardar(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid" title="Editar Descripción"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button class="btn btn-default btn-xs" ng-click="question.cancelar(row, rowForm)" ng-if="row.isEditing" title="Cancelar"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button class="btn btn-default btn-xs" ng-click="question.editar(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-danger btn-xs" ng-click="question.eliminar(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td width="95%" colspan="2">
                                    <input type="text" class="form-control input-table" ng-model="question.opt.nom">
                                </td>
                                <td width="5%" style="text-align:center">
                                    <button class="btn btn-success btn-xs" ng-disabled="question.opt.nom === ''" ng-click="question.agregar()" title="Agregar Opción"><span class="glyphicon glyphicon-plus"></span></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>                
            </div>
            <div class="form-group" ng-if="question.question.tip === 'L'">
                <label class="col-lg-2 control-label">Respuesta:</label>
                <div class="col-lg-3">
                    <div class="btn-group">
                        <label ng-class="{'btn btn-default': !question.question.res.l,'btn btn-success': question.question.res.l}" ng-model="question.question.res.l" uib-btn-radio="true" uncheckable>Verdadero</label>
                        <label ng-class="{'btn btn-default': question.question.res.l,'btn btn-success': !question.question.res.l}" ng-model="question.question.res.l" uib-btn-radio="false" uncheckable>Falso</label>
                    </div>
                </div>
                <label class="col-lg-1 control-label">Puntaje:</label>
                <div class="col-lg-2">
                    <input name="score" class="form-control" type="number" ng-model="question.question.pun" min="0" required>
                ​    <small class="form-text text-muted" ng-show="myForm.score.$error.required || myForm.score.$error.min">Requerido (mín = 0)</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid || (!question.est && myForm.$pristine && question.tableForm)" ng-click="question.aceptar()">{{question.action}}</button>
        <button class="btn btn-danger" ng-click="question.salir()">Cancelar</button>
    </div>
</script>