<section class="panel">
    <header class="panel-heading">
        <h4><span>Ayuda Básica</span></h4>
    </header>
    <div>
        <form class="form-horizontal style-form">
            <hr>
            <div class="form-group" style="display: block" ng-init="cambiarVistaUsuario()">
                <label class="col-sm-3 control-label" align="left">Tipo de Ayuda</label>                                
                <div class="col-sm-12 ">                                
                    <div class="radio" style="display: inline">
                        <label class="col-sm-3 control-label"><input type="radio" ng-model="tipoAyuda" value="General" ng-change="cargarPasos(func_selec)">General</label>
                    </div>
                    <div class="radio" style="display: inline">
                        <label class="col-sm-2 control-label"><input type="radio" ng-model="tipoAyuda" value="Detallada" ng-change="cargarPasos(func_selec)">Detallada</label>
                    </div>                             
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-9 control-label"><h4>Funciones Básicas</h4></label>
            </div>

            <div class="form-group" style="display:block">                            
                <div class="col-sm-2"></div>

                <!--MODULO -->
                <div class="col-sm-4">
                    <select class="form-control" ng-model="mod_selec" ng-options="o as o.nombre for o in menuPrincipal" ng-change="cambioModulo(sub_mod_selec,func_selec)">
                    </select>
                </div>

                <!--FUNCION -->
                <div class="col-sm-4">
                    <select class="form-control" ng-model="func_selec" ng-options="o as o.nombre for o in sub_mod_selec.funciones" ng-change="cargarPasos(func_selec)">
                    </select>
                </div>

                <div class="col-sm-2"></div>



            </div>    
            <div class="form-group">
                <div class="col-sm-2"></div>
                <!--SUB-MODULO -->
                <div class="col-sm-4">
                    <select class="form-control" ng-model="sub_mod_selec" ng-options="o as o.nombre for o in mod_selec.subModulos" ng-change="cambioSubMod(func_selec)">
                    </select>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <h5><label class="col-sm-4 control-label">Descripción Básica</label>      </h5>  
                <h5><label class="col-sm-4 control-label">Pasos a Seguir</label></h5>
            </div>
            <div class="form-group">    
                <div class="col-sm-2"></div>  
                <!-- DESCRIPCION FUNCIONALIDAD -->
                <div class="col-sm-4 " >
                    <textarea class="form-control" rows="5" ng-disabled="mostrarUsuario">{{func_selec.descripcion}}</textarea>
                </div>

                <!-- PASOS A SEGUIR --->
                <div class="col-sm-4">
                    <table class="table peque" style="margin-bottom: 0" ng-disabled="mostrarUsuario">
                        <thead>
                            <tr>
                                <th width="15px">#</th><th width="auto">Paso</th><th width="55px" ng-hide="mostrarUsuario">Acción</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in pasos">
                                <td>{{$index+1}}</td>
                                <td>
                                    <span ng-hide="p.edi">{{p.pasoDes}}</span>
                                    <span ng-show="p.edi"><input ng-model="p.copia.pasoDes"/></span>
                                </td>
                                <td>
                                    <div ng-hide="mostrarUsuario">
                                        <div ng-show="mostrarBotonesPasos">
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="editarPaso($index,p)"><i class="fa" ng-class="{'fa-check':p.edi,'fa-pencil':!p.edi}"></i></button>
                                            <button type="button" class="btn btn-xs" ng-class="{'btn-danger':!p.edi}" ng-click="eliminarPaso($index,p)"><i class="fa" ng-class="{'fa-times':p.edi, 'fa-trash-o': !p.edi}"></i></button>                                                        
                                        </div>
                                    </div>                                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table peque" style="margin-bottom: 0; background:#f1f2f7;" ng-hide="mostrarUsuario" >
                        <tr ng-show="mostrarBotonesPasos">
                            <td style="width: 15px">+</td>
                            <td style="width: auto"><input type="text" class="form-control input-table" ng-model="paso.pasoDes" ng-show="mostrarBotonesPasos"></td>
                            <td style="width: 55px">
                                <button class="btn btn-success btn-xs" ng-click="agregarPaso()" ng-show="mostrarBotonesPasos"title="agregar paso" ><i class="fa fa-plus" ></i></button>
                            </td>
                        </tr>                                        
                    </table>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group" ng-hide="mostrarUsuario">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger" ng-click="eliminarAyuda(func_selec)" ng-show="mostrarBotonEliminarAyuda"><i class="fa fa-times"></i>Eliminar</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="agregarAyuda(func_selec)" ng-show="mostrarBotonAgregarAyuda" ><i class="fa fa-check"></i>Guardar</button>
                </div>                            
            </div>

        </form>  
    </div>
</section>