<!DOCTYPE html>
<!--
<div class="row"><div class="col-lg-12">
        <section class="panel">

            <!-- Modal para monitoreos
            <header class="panel-heading">
                <span>Monitoreo de Carpeta Pedagogico</span>        
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" ><i class="fa fa-rotate-right"></i> Actualizar</button>
                </span>    
            </header>    
            <div class="panel-body">                    
                <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                        <tr ng-repeat="p in $data">                            
                            
                            <td data-title="'Año'" filter="{anio: 'text'}">{{p.anio}}</td>
                            <td data-title="'Docente'">{{p.nombreMon}}</td>                
                            <td data-title="'Carpeta Pedagogica'">{{p.nombreIE}}</td>
                            <td data-title="'Fecha'">{{p.FechaRegistro}}</td>
                            <td data-title="'Estado'">{{p.nombreURL}}</td>

                            <td style="text-align: center">
                                <button class="btn btn-primary btn-xs" ng-click="listarMonitoreoDetalle(p.monId)" ><i class="fa fa-plus" ></i></button>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
-->
<div class="row"><div class="col-lg-12">
        <section class="panel">

            <!-- Modal para monitoreos-->
            <header class="panel-heading">
                <span>Lista de documentos Carpeta Pedagógica</span>        
                <span class="tools pull-right">
                    <button class="btn btn btn-primary btn-sm" ><i class="fa fa-rotate-right"></i> Actualizar</button>
                </span>    
            </header>    
            <div class="panel-body" ng-init = "listarMonitoreos()">                    
                <div class="tabla-responsiva"><table ng-table="tablaMonitoreos" class="table table-bordered table-condensed" show-filter="true" >                        
                        <tr ng-repeat="a in $data">
                            <td width="10%" data-title="'N°'" filter="{codigo: 'text'}">{{a.anio}}</td>
                            <td width="40%" data-title="'Documentos'">{{a.nombreMon}}</td>
                            <td width="40%" data-title="'Archivos'" style="text-align: center ; width:100px">
                            <view-file url="{{a.url}}" nombre="p.prodoc" archivo="p.archivo" nover='true'></view-file>
                            </td>
                            
                            <td width="10%" data-title="'Estado'">{{a.nombreURL}}</td>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
