<div class="row"><div class="col-lg-12" >
  <section class="panel">
        <header class="panel-heading">
            <h4 style="display:inline;line-height: 1.9">Consulta Inventarios Control Patrimonial</h4>
        </header>
      <div class="panel-body">
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">REPORTE DE INVENTARIO :</label>
                    <div class="col-sm-4">
                        <button class="" ng-click="reporte_catalogo()"><i class="glyphicon glyphicon-print"></i></button>
                    </div>
                </div>
            
            </div>  
 
        </div>
      </div>
  <div class="panel-body" ng-init="listar_inventarios(usuMaster.organizacion.organizacionID)">
            <div class="tabla-responsiva"><table ng-table="tabla_inventarios" class="table table-striped table-hover" show-filter="true" >
                <colgroup>
                    <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
                </colgroup>
            <tr ng-repeat="o in $data"> 
                <td data-title="'Nro'" filter="{ i: 'text'}" sortable="'cod'" style="text-align: center">{{o.i}}</td>
                <td data-title="'Id. C.Patrimonial'" filter="{ con_pat_id : 'text'}" sortable="'con_pat_id'" style="text-align: center">{{o.con_pat_id}}</td>
                <td data-title="'Id. Inventario '" filter="{ inv_ini_id : 'text'}" sortable="'inv_ini_id'" style="text-align: center">{{o.inv_ini_id}}</td>
                <td data-title="'Fecha Modificacion'" filter="{ fec_mod : 'text'}" sortable="'fec_mod'" style="text-align: center">{{o.fec_mod}}</td>
                <td data-title="'Estado Cierre'" filter="{ fla_cie : 'text'}" sortable="'fla_cie'" style="text-align: center">{{o.fla_cie}}</td>
                <td data-title="'Tipo Inventario'" filter="{ tipo_inv : 'text'}" sortable="'tipo_inv'" style="text-align: center">
                     <span class="label label-mini" ng-class="{'label-info': o.tipo_inv=='Inventario Inicial','label-warning': o.tipo_inv=='Inventario Fisico'}">{{o.tipo_inv}}</span>
                </td>
                <td data-title="'Accion'">
                    <button class="btn btn-primary btn-xs" ng-disabled="" ng-click="verificar_inventario(o,usuMaster.organizacion.organizacionID)"><i class="fa fa-file-o" ></i></button>
                    <button class="btn btn-danger btn-xs"  ng-click="EliminarInventario(o)"><i class="fa fa-trash-o"></i></button>
                </td>  
            </tr>  
            </table></div>
        </div>
  </section>
    </div>
</div>
    