<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <uib-tabset active="active" >
                <uib-tab index="0"  select="" >   
                    <uib-tab-heading >
                        Por Cargo
                    </uib-tab-heading>
                    <div class="row" >
                        <div class="col-lg-12">
                            <section class="panel">
                                <!--<header class="panel-heading" style="overflow: inherit">
                                  
                                   </header> -->
                                <div class="panel-body" ng-init="">

                                    <div class="tabla-responsiva" ng-init="iniciarDatos()">
                                        <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="50%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />



                                            </colgroup>
                                            <tr ng-repeat="o in $data">

                                                <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                                <td data-title="'Descripcion'" filter="{ des: 'text'}" sortable="'des'" 
                                                    style="text-align: center">{{o.des}}
                                                </td>
                                                <td data-title="'Cargo Asignado'" filter="{ cargo: 'text'}" sortable="'cargo'" style="text-align: center">{{o.cargo}}</td>


                                                <td data-title="'Ver'" style="text-align: center">
                                                    <button class="btn btn-primary btn-xs"  ng-click="verDetallado(o)"  title="Detalle">
                                                        <i class=" fa fa-search" ></i>
                                                    </button>
                                                </td>
                                                <td data-title="'Asignar'" style="text-align: center">
                                                    <button class="btn btn-white btn-xs"  ng-click="asignarHorario(o)"  title="Asignar">
                                                        <i class=" fa fa-edit" ></i>
                                                    </button>
                                                </td>
                                                <td data-title="'Liberar'" style="text-align: center">
                                                    <button class="btn btn-danger btn-xs"  ng-disabled="!o.idCargo" ng-click="liberarHorario(o)"  title="Liberar">
                                                        <i class=" fa fa-eraser" ></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>    
                                </div>
                            </section>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="1" select="">  
                    <uib-tab-heading >
                        Personalizado
                    </uib-tab-heading>
                    
                    <div class="row" >
                        <div class="col-lg-12">
                            <section class="panel">
                                <!--<header class="panel-heading" style="overflow: inherit">
                                  
                                   </header> -->
                                <div class="panel-body" ng-init="iniciarDatos()">
                                    <form class="form-horizontal " method="get">

                                        <div class="form-group "><label></label></div> 
                                        <!--                                        <div class="form-group "> 
                                                                                    <label class="col-lg-4"><strong>Consulta Trabajador:</strong> </label>                            
                                                                                </div> -->
                                        <header class="panel-heading">
                                            <a>Consulta Trabajador:</a>
                                            <span class="label label-warning">Presione en la Lupa para buscar</span>
                                        </header>
                                        <div class="form-group col-lg-12">  

                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">DNI</label>

                                                <div class="input-group col-lg-12">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" ng-click="showBuscarTrabajador()"><i class="fa fa-search"> </i></button>
                                                    </span>
                                                    <input type="text"  class="form-control" ng-model="trabajador.dni" disabled="true" >
                                                </div>


                                            </div> 
                                            <div class="form-group col-lg-1"></div>

                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">Nombre</label>   

                                                <input type="text" class="form-control" ng-model="trabajador.datos" disabled="true">


                                            </div> 

                                        </div> 
                                        <div class="form-group col-lg-12">

                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">Horario del Cargo Ocupado</label> 
                                                <div class="input-group col-lg-12">    
                                                    <input type="text" class="form-control" ng-model="asignados.des" disabled="true">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-white" ng-click="verDetalleCargoConsulta()" ng-disabled="asignados.des.length == 0"><i class="fa fa-search"> </i></button>
                                                    </span>
                                                </div>    

                                            </div> 

                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3">                             

                                                <label class="control-label">Horario Asignado:</label> 
                                                <div class="input-group col-lg-12">    
                                                    <input type="text" class="form-control" ng-model="asignadosActual.des" disabled="true">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-white" ng-click="verDetalleActualConsulta()" ng-disabled="asignadosActual.des.length == 0"><i class="fa fa-search"> </i></button>
                                                    </span>
                                                </div>    

                                            </div> 
                                        </div>

                                        <div class="form-group "><label></label></div> 
                                        <br>
                                        <div class="form-group col-lg-12">
                                            <!--                                            <div class="form-group "> 
                                                                                            <label class="col-lg-4"><strong>Horario Personalizado:</strong> </label>                            
                                                                                        </div> -->
                                            <br>
                                            <header class="panel-heading">
                                                <a>Horario Personalizo:</a>
                                                <span class="label label-warning"> Seleccione en la columna Selec los trabajadores y seleccione un horario</span>
                                                <span class="label label-warning"> Haga doble click la fila para consulta Personalizada deL Trabajador</span>
                                            </header>

                                        </div>
                                        <div class="form-group col-lg-12">
                                            <div class="form-group col-lg-8">
                                                <div class="tabla-responsiva" ng-init="listarTablaTrabajadorPersonalizado()">
                                                    <table ng-table="tablaTrabajadoresPersonalizado" class="table table-striped table-hover" show-filter="true" >
                                                        <colgroup>
                                                            <col width="5%" />
                                                            <col width="5%" />
                                                            <col width="30%" />
                                                            <col width="20%" />





                                                        </colgroup>
                                                        <tr ng-repeat="o in $data" ng-dblclick="setClickedRowPersonalizado(o)">

                                                            <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                                            <td data-title="'Selec'" style="text-align: center">
                                                                <input type="checkbox" ng-model="o.sel">
                                                            </td>
                                                            <td data-title="'Nombres y Apellidos'" filter="{ datos: 'text'}" sortable="'datos'" 
                                                                style="text-align: center">{{o.datos}}
                                                            </td>
                                                            <td data-title="'Cargo'" filter="{ cargo: 'text'}" sortable="'cargo'" style="text-align: center">
                                                                {{o.cargo}}
                                                            </td>
  
                                                        </tr>
                                                    </table>

                                                </div>    
                                            </div>

                                            <div class="form-group col-lg-1"></div>
                                            <div class="form-group col-lg-3 ">
                                                <br>
                                                <div class="form-group "> 
                                                    <label class="col-lg-12 "><strong>Seleccione Horario:</strong> </label>                            
                                                </div> 
                                                <br>


                                                <div class="input-group form-group col-lg-12">


                                                    <select class="form-control" ng-model="personalizado.horarioId" ng-options="tip.id as tip.des for tip in listaHorario">
                                                        <option var="">Seleccione:</option>>
                                                    </select>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-white" ng-disabled="personalizado.horarioId.length == 0" ng-click="verDetalladoSeleccionado()"><i class="fa fa-search"> </i></button>

                                                    </span>


                                                </div>
                                                <br>
                                                <div class="form-group  col-lg-12">  
                                                    <div class="form-group col-lg-12 ">
                                                        <button class="btn btn-success" ng-click="asignarHorarioPersonalizado()">Asignar</button>
                                                    </div>
                                                    <div class="form-group col-lg-1">                                                 
                                                    </div>
                                                    <div class="form-group col-lg-12">
                                                        <button class="btn btn-danger" ng-click="liberarHorarioPersonalizadoGrupo()">Liberar</button>
                                                    </div>
                                                    
                                                </div> 

                                            </div>
                                        </div>

                                        <div class="form-group "><label></label></div> 
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>

                </uib-tab>
                <!--                <uib class=" pull-right" >
                
                
                                    <div class=" btn-group pull-right col-lg-12" style="top: 10px">
                
                                        <a data-toggle="dropdown" class="fa fa-cog " ></a>
                
                                        <ul role="menu" class="dropdown-menu " >
                                            <li><a href="#"><i class="fa fa-edit"> </i> Descargar Libro </a></li>                                         
                                            <li><a href="#"><i class="fa fa-print"> </i> Imprimir </a></li>
                
                                        </ul>                                
                                    </div>
                
                                </uib>-->
            </uib-tabset> 

        </section>
    </div>
</div>



