<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CONFIGURACION</h4>
                <span class="tools pull-right">
                
                    <button class="btn btn-primary" type="button"  title="Listar" ng-click="listarConfiguraciones()"><i class="fa fa-rotate-right"></i> Listar </button>
                </span>
                
                
            </header>
          
            <div class="panel-heading">
                <button class="btn btn-warning col-sm-push-6" type="button"  title="Agregar Configuracion" ng-click="showNuevaConfiguracion()"><i class="fa fa-plus"></i> Agregar Configuracion </button>
<!--                <span class="tools pull-right">
                    <button class="btn btn-warning col-sm-push-6" type="button"  title="Conectar" ><i class="fa fa-rotate-right"></i> Conexion de Sistema Biometrico </button>
                </span>-->
            </div>
            
            <br>
            
            <div class="tabla-responsiva" ng-init="iniciarDatos()">
                <table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
                    <colgroup>
                        <col width="8%" />
                        <col width="20%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="30%" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="10%" />
                       


                    </colgroup>
                    <tr ng-repeat="o in $data">
                        
                        <td data-title="'Año'"   
                            sortable="'anho'" style="text-align: center">{{o.anho}}
                        </td>
                        <td data-title="'Descripcion'" filter="{ descripcion: 'text'}" sortable="'nommbre'" 
                            style="text-align: center">{{o.descripcion}}
                        </td>
                        <td data-title="'Fecha Inicio'" sortable="'fechaInicio'" style="text-align: center">{{o.fechaInicio}}</td>
                        <td data-title="'Fecha Cierre'" sortable="'fechaFin'" style="text-align: center">{{o.fechaFin}}</td>
                        <td data-title="'Responsable'" filter="{ responsable: 'text'}" sortable="'nommbre'" 
                            style="text-align: center">{{o.responsable}}
                        </td>
                        <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" 
                            sortable="'estado'" style="text-align: center">
                            <span class="label label-mini" ng-class="{'label-success': o.estado == 1,'label-danger': o.estado == 2,'label-info': o.estado == 3}">
                                {{o.estado==1?'Activo':o.estado==2?'Inactivo':'Cerrado'}}
                               
                            </span>
                        </td>
                        

                        <td data-title="'Editar'" style="text-align: center">
                            <button class="btn btn-white btn-xs"  ng-click="editarConfiguracion(o)"  title="Editar">
                                <i class=" fa fa-edit" ></i>
                            </button>
                        </td>
                        
                        <td data-title="'Eliminar'" style="text-align: center">
                            <button class="btn btn-danger btn-xs"  title="Eliminar" ng-click="eliminarConfiguracion(o)">
                                <i class="glyphicon glyphicon-remove" ></i>
                            </button>
                        </td>
                        

                    </tr>
                </table>
            </div>

        </section>

    </div>

</div>

