<div class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" >
                <div class="form-panel">
                    <form class="form-horizontal " method="get">   
                        <div class="form-group col-lg-12 ">
                            <!--<div class="form-group "><label></label></div>-->
                            <div class="form-group col-lg-7 ">
                                <div class="form-group ">
                                    <label class="col-lg-4"><strong>Datos Personal I.E</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <input  type="text"   class="form-control" ng-model="justificacion.datos" disabled="true">
                                    </div>  
                                </div> 

                            </div>
                            <div class="form-group  col-lg-2 "></div>
                            <div class="form-group col-lg-4">
                                <div class="form-group ">
                                    <label class="col-lg-4"><strong>DNI</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <input  type="text"   class="form-control" ng-model="justificacion.dni" disabled="true">
                                    </div>  
                                </div>         

                            </div>

                        </div>
                        <div class="form-group "><label></label></div>
                        <div class="form-group col-lg-12">
                            
                            <div class="form-group ">
                                    <label class="col-lg-4"><strong>Asistencias Registradas:</strong></label>
                            </div> 
       
                        </div>
                        <div class="form-group "><label></label></div>
                        <div class="col-lg-12">
                            
                            <div class="tabla-responsiva">
                                <table ng-table="miTabla" class="table table-striped table-hover"  >
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="30%" />
                                        <col width="30%" />
                                        <col width="40%" />

                                    </colgroup>
                                    <tr ng-repeat="o in $data"  ng-dblclick="setClickedRow(o)">

                                        <td data-title="'N'" sortable="'i'" style="text-align: center">{{o.i}}</td>
                                        <td data-title="'Ingreso'"   style="text-align: center">
                                            {{o.ingreso}}
                                        </td>

                                        <td data-title="'Salida'" style="text-align: center">
                                            {{o.salida}}
                                        </td>
                                        <td data-title="'Estado'" style="text-align: center">
                                            <span class="label label-mini" ng-class="{'label-info': o.estado == 1,'label-warning': o.estado == 2,'label-danger': o.estado == 3}">
                                                {{o.estado==1?'Asistio':o.estado==2?'Tardanza':'Otros'}}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="form-group "><label></label></div>
                        <div class="form-group col-lg-12 ">
                            <!--<div class="form-group "><label></label></div>-->
                            <div class="form-group col-lg-4 ">
                                <div class="form-group ">
                                    <label class="col-lg-10"><strong>Hora Ingreso</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-10">
                                        <input  type="text"   class="form-control" ng-model="obj.ingreso" disabled="true">
                                    </div>  
                                </div> 

                            </div>
                            <div class="form-group col-lg-4 ">
                                <div class="form-group ">
                                    <label class="col-lg-10"><strong>Hora Salida</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-10">
                                        <input  type="text"   class="form-control" ng-model="obj.salida" disabled="true">
                                    </div>  
                                </div> 
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="form-group ">
                                    <label class="col-lg-10"><strong>Estado</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <input  type="text"   class="form-control" ng-model="obj.estadoEsp" disabled="true">
                                    </div>  
                                </div>         

                            </div>

                        </div>
                        <div class="form-group "><label></label></div>
                        <div class="form-group col-lg-12 ">
                            <div class="form-group col-lg-4">
                                <div class="form-group ">
                                    <label class="col-lg-4"><strong>Regularizacion</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <select class="form-control" ng-model="justificacion.tipoJustificacion" ng-options="tip.id as tip.nom for tip in tipos">
                                            <option value="">Seleccione:</option>
                                        </select>
                                    </div>  
                                </div>         
                            </div>
                            <div class="form-group col-lg-1"></div>
                            <div class="form-group col-lg-4">
                                <div class="form-group ">
                                    <label class="col-lg-12"><strong>Numero de Tramite</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <input  type="text"  placeholder="Numero de Tramite" class="form-control" ng-model="justificacion.tramite">
                                    </div>  

                                </div>         
                            </div>

                        </div>      
                        <div class="form-group "><label></label></div>
                        <div class="form-group col-lg-12 ">
                            <div class="form-group col-lg-12">
                                <div class="form-group ">
                                    <label class="col-lg-12"><strong>Observaciones</strong></label>
                                </div> 
                                <div class="form-group ">   
                                    <div class="col-lg-12">
                                        <textarea  type="text"  placeholder="Observaciones (Opcional)" class="form-control" ng-model="justificacion.observacion"></textarea>
                                    </div>  

                                </div>         
                            </div>
                        </div>
                        <div class="form-group "><label></label></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>

                <button  ng-if="title === 'Regularizacion'" type="button" class="btn btn-primary"  ng-click="guardarRegularizacion()">Regularizar</button>                     
                <button  ng-if="title === 'Ver Regularizacion'" type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
              
                <!--<button  ng-if="title === 'Regularizacion'" type="button" class="btn btn-primary" ng-click="editarJustificacion()">Regularizar</button>--> 
                <!--                <button  ng-if="title === 'Editar Horario'" type="button" class="btn btn-primary" ng-click="editarHorario()" >Editar</button> 
                                <button  ng-if="title === 'Asignar Horario'" type="button" class="btn btn-primary" ng-click="asignarHorarioByCargo()" >Asignar</button> 
                                <button ng-hide="title==='Nuevo Horario'"  type="button" class="btn btn-primary" ng-click="actualizarConfiguracion()">Actualizar Configuracion</button>-->

            </div>
        </div>
    </div>
</div>       