<div class="modal fade " >
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                   <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">  
                        
                        <div class="form-group ">   
                            <label class="col-lg-1 control-label "> Nombre: </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="operacion.descripcion">
                                </div>
                            
                           
                                   <div class="col-sm-5">
                                       <div class="radio col-lg-6" style="display: inline-block">
                                         <label>
                                             <input type="radio" ng-model="operacion.tipo" ng-value="'E'" >
                                             Egreso
                                         </label>
                                       </div>
                                       <div class="radio col-lg-6" style="display: inline-block">
                                         <label>
                                           <input type="radio" ng-model="operacion.tipo" ng-value="'I'">
                                           Ingreso
                                         </label>
                                       </div>
                                   </div>
                        </div> 
                        <div class="form-group "><label></label></div> 
                        <div class="form-group "> 
                            <label class="col-lg-4"> <strong>Cuentas Contable Asociada</strong> </label>                            
                        </div> 
                        
                        <div class="form-group col-lg-12">  
                           
                            <div class="form-group col-lg-3">                             

                               <label class="control-label">Código</label>

                               <div class="input-group col-lg-12">
                                                  <span class="input-group-btn">
                                                      <button class="btn btn-primary" ng-click="showBuscarCuenta()"> <i class="fa fa-search"> </i></button>
                                                  </span>
                                    <input type="text" class="form-control" ng-model="cuenta.numero">
                                </div>


                            </div> 
                            <div class="form-group col-lg-1">    </div>

                             <div class="form-group col-lg-5">                             

                               <label class="control-label">Nombre</label>   
                               
                               <input type="text" class="form-control" ng-model="cuenta.nombre">
                            

                            </div> 
                            <div class="form-group col-lg-1"> </div>
                            
                             <div class="form-group col-lg-3">                             

                               <label class="control-label">Naturaleza</label>   
                             
                              <select class="form-control input-sm m-bot15" style="height:34px " ng-model="cuenta.naturaleza" ng-options="cuenta.tipo as cuenta.descripcion for cuenta in listaNaturaleza" >
                                      <option value="">Seleccionar</option>

                                    </select>  
                               

                            </div>
                            <div class="form-group col-lg-1"> </div>
                            <div class="form-group col-lg-1">    
                             <label class="control-label"> Añadir </label>   
                             <button class="btn btn-primary " ng-click="agregarCuenta()"> <i class="fa fa-plus-circle"> </i></button>
                             </div>
                            
                        
                        
                         </div>    
                        <div>
                            
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Naturaleza</th>
                                </tr>
                                </thead>
                                <tbody>
                                 <tr ng-repeat="c in listaCuentas">
                                <td>{{$index+1}}</td>
                                <td>{{c.numero}}</td>
                                <td>{{c.nombre}}</td>
                                <td style="text-align: center"> 
                                    <span class="label label-mini" ng-class="{'label-info': c.naturaleza==true || c.naturaleza=='true','label-warning': c.naturaleza==false || c.naturaleza=='false'}">{{desNat(c.naturaleza)}}</span>
                                </td>
                                <td>
                                 
                                    <button class="btn btn-danger btn-xs" ng-click="eliminarCuentaOperacion($index)"><i class="fa fa-trash-o " ></i></button>
                                </td>
                            </tr>
                                </tbody>
                            </table>
                            
                            
                        </div>
                        
                                                                
                    </form>
                </div>
            </div>
      <div class="modal-footer">
         
            <button type="button" class="btn btn-default " data-dismiss="modal">Cancelar</button>
                      
            <button ng-show="title==='Nueva Operación'"  type="button" class="btn btn-primary" ng-click="agregarOperacion()">Crear Operación</button>                     
            <button ng-hide="title==='Nueva Operación'"  type="button" class="btn btn-primary" ng-click="actualizarOperacion()">Actualizar Operación</button>
          
           
      </div>
        </div>
    </div>
</div>       
