<div class="row" ng-init="listarEstudiantes()">
    <div class="col-md-3" ng-repeat="mp in listaEstudiantes">
        <div class="feed-box text-center">
            <section class="panel">
     
                <div class="feed-box text-center">
                    <section class="panel">
                        <div style="padding: 5px;min-height: 145px;" >
                            <img alt="" src="../recursos/img/alumno.jpg">
                            <h4>{{mp.nombre}}</h4>
                            <h3>{{mp.nombreOrganizacion}}</h3>
                            <p>{{mp.salon}}</p>
                        </div>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosEstudiante(mp.matriculaID,mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Datos Estudiante</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosMatricula(mp.matriculaID,mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Matricula</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosTareas(mp.matriculaID,mp.orgId)">
                            <div style="padding: 5px;">
                                <h5>Tareas</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosNotas(mp.matriculaID,mp.orgId,mp.nombre)">
                            <div style="padding: 5px;">
                                <h5>Notas</h5>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="feed-box text-center">
                    <section class="panel miPanel" style="margin-bottom: 5px;">
                        <a href ng-click="datosAsistencia(mp.planID,mp.gradoID,mp.orgId,mp.matriculaID)">
                            <div style="padding: 5px;">
                                <h5>Asistencia</h5>
                            </div>
                        </a>
                    </section>
                </div>

            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDatosEstudiante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">DATOS DEL ESTUDIANTE</h4>
      </div>
      <div class="modal-body resize-modal">

          <div class="form-panel">
              <div class="form-horizontal style-form" >
                  <header class="panel-heading">
                      <a>Datos Personales:</a>
                  </header>
                  <br>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Nombres</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="estudiante.nombres" disabled="true">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Nacionalidad</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.nacionalidad" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">DNI</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.dni" disabled="true">
                      </div>
                  </div>
              
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Fecha de Nacimiento</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.nacimiento" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Sexo</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.sexo" disabled="true">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.email" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Telefono</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.numero1" disabled="true">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Domicilio</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="estudiante.direccion" disabled="true">
                      </div>
                      
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Nombre de Apoderado</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.apoderadoNombre" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Telefono Contacto</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" ng-model="estudiante.apoderadoNumero" disabled="true">
                      </div>
                  </div>
                  <header class="panel-heading">
                      <a>Datos Escolares:</a>
                  </header>
                  <br>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Nivel</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.nivel" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Grado</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.grado" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Seccion</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.seccion" disabled="true">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">N° Orden</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.orden" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Turno</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.turno" disabled="true">
                      </div>
                  </div>
                  <header class="panel-heading">
                      <a>Datos Clinicos:</a>
                  </header>
                  <br>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Talla</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.talla" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Peso</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.peso" disabled="true">
                      </div>
                      <label class="col-sm-2 control-label">Tipo de Sangre</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.sangre" disabled="true">
                      </div>
                  </div>
                  <div class="form-group" >
                      <label class="col-sm-2 control-label">Alergias</label>
                      <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="estudiante.alergia" disabled="true">
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="imprimirDatosEstudiante()">Imprimir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDatosMatricula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">DATOS DE LA MATRICULA</h4>
      </div>
      <div class="modal-body resize-modal" >
                    
            <div class="form-panel">
                <div class="form-horizontal style-form" >
                    <header class="panel-heading">
                        <a>Datos de Matricula:</a>
                    </header>
                    <br>
                    <div class="tabla-responsiva" ng-init="iniciarDatos()">
                        <table ng-table="miTablaDatos" class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="20%" />
                            </colgroup>
                            <tr ng-repeat="o in $data">

                                <td data-title="'TURNO'"   
                                    sortable="'turno'" style="text-align: center">{{o.turno}}
                                </td>
                                <td data-title="'NIVEL'"  sortable="'nivel'" 
                                    style="text-align: center">{{o.nivel}}
                                </td>
                                <td data-title="'GRADO'" sortable="'grado'" style="text-align: center">{{o.grado}}</td>
                                <td data-title="'SECCION'" sortable="'seccion'" style="text-align: center">{{o.seccion}}</td>
                                <td data-title="'TUTOR'"  sortable="'tutor'"  style="text-align: center">{{o.tutor}} </td>
                            </tr>
                        </table>
                    </div>

                    <header class="panel-heading">
                        <a>Areas Matriculadas:</a>
                    </header>
                    <br>
                    <!--<div class="form-group" >-->
                    <div class="tabla-responsiva" ng-init="iniciarDatos()">
                        <table ng-table="miTablaAreas" class="table table-striped table-hover" show-filter="true" >
                            <colgroup>
                                <col width="30%" />
                                <col width="30%" />
                                <col width="30%" />
                                
                            </colgroup>
                            <tr ng-repeat="o in $data">

                                <td data-title="'Area'"   
                                    sortable="'area'"  filter="{ area: 'text'}"style="text-align: center">{{o.area}}
                                </td>
                                <td data-title="'Docente'" filter="{ docente: 'text'}"  sortable="'docente'" 
                                    style="text-align: center">{{o.docente}}
                                </td>
                                <td data-title="'Lista Utiles'"  style="text-align: center">
                                    <button class="btn btn-white btn-xs"  ng-click="verUtilesArea(o.areaId)"  title="Ver">
                                        <i class=" fa fa-eye" ></i>
                                    </button>
                                    <button class="btn btn-default btn-xs"  ng-click="imprimirListaByArea(o.areaId,o.area,o.docente)"  title="Imprimir">
                                        <i class=" fa fa-print" ></i>
                                    </button>
                                </td>
                                
                                
                            </tr>
                        </table>
                    </div>
                    
                    <div ng-if="mostrarLista" class="animate-if">
                        <header class="panel-heading">
                            <a>Lista de Utiles:</a>
                        </header>
                        <br>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva">
                            <table ng-table="miTablaLista" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="10%" />
                                    <col width="30%" />
                                    <col width="30%" />

                                </colgroup>
                                <tr ng-repeat="o in $data">

                                    <td data-title="'Cantidad'"   
                                        sortable="'area'"  style="text-align: center">{{o.cant}}
                                    </td>
                                    <td data-title="'Descripcion'" filter="{ docente: 'text'}"  sortable="'docente'" 
                                        style="text-align: center">{{o.des}}
                                    </td>
                                    <td data-title="'Precio'"  style="text-align: center">
                                        {{o.precio}}
                                    </td>

                                </tr>
                            </table>
                            <label class="control-label col-sm-10">TOTAL: </label>
                            <label class="control-label col-sm-2" >{{listaTotal}}</label>
                        </div>
                    </div>
                    
                    
                    <header class="panel-heading">
                        <a>Observaciones:</a>
                    </header>
                    <br>
                    <!--<div class="form-control" >-->
                    <textarea readonly  rows="3" class="form-control" id="observaciones" ng-model="matricula.observaciones"></textarea>
                    <!--</div>-->
                    
                </div>
            </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="imprimirListaUtiles()">Imprimir Lista</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDatosTareas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">TAREAS DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Areas Matriculadas:</a>
                        </header>
                        <br>
                        <label class="col-sm-2 control-label">Area:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="sel.areaID" ng-options="o.areaID as o.area for o in areas" ng-change="buscarTareas()">
                                <option value="">Seleccione:</option>
                            </select>
                        </div>
                        
                        
                        <header class="panel-heading">
                            <a>Tareas Asignadas:</a>
                        </header>
                        <br>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva" ng-init="iniciarDatos()">
                            <table ng-table="miTablaTareas" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                                        {{o.nombre}}
                                    </td>
                                    <td data-title="'Nota'" sortable="'nota'" style="text-align: center">
                                        {{o.nota}}
                                    </td>
                                    <td data-title="'Fecha Envio'" filter="{ fechaEnvio: 'text'}" sortable="'fechaEnvio'">
                                        {{o.fechaEnvio}}
                                    </td>
                                    <td data-title="'Fecha Limite'" filter="{ fechaMaxEntrega: 'text'}" sortable="'fechaMaxEntrega'">
                                        {{o.fechaMaxEntrega}}
                                    </td>
                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosTarea" sortable="'estado'" style="text-align: center">
                                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C','label-danger': o.estado=='F'}">
                                            {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                                        </span>
                                    </td>
<!--                                    <td data-title="'Accion'" style="text-align: center">
                                        <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'enviar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                                    </td>-->

                                </tr>
                            </table>
                        </div>

                        

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDatosAsistencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ASISTENCIA DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Asistencia:</a>
                        </header>
                        <br>
                        <div class="col-sm-12">
                            <label class="col-sm-1 control-label">Area:</label>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="sel.areaID" ng-options="o.areaID as o.area for o in areas" ng-change="buscarAsistencia()">
                                    <option value="">Seleccione:</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Desde:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" ng-model="sel.fechaDesde" ng-change="buscarAsistencia()">
                            </div>
                            <label class="col-sm-1 control-label">Hasta:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" ng-model="sel.fechaHasta" ng-change="buscarAsistencia()">
                            </div>
                            
                            
                        </div>
                        
                        
                        <div class="col-lg-12"><label></label></div>
                        <div class="col-lg-12"><label></label></div>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva">
                            <table ng-table="miTablaAsistencia" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
                                    <col width="10%" />
<!--                                    <col width="10%" />-->

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Fecha'"  sortable="'fecha'" style="text-align: center">
                                        {{o.fecha}}
                                    </td>
                                    <td data-title="'Dia'" filter="{ dia: 'text'}" sortable="'dia'" style="text-align: center">
                                        {{o.dia}}
                                    </td>
                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosAsistencia" sortable="'estado'" style="text-align: center">
                                        <span class="label label-mini" ng-class="{'label-info': o.estado=='A','label-warning': o.estado=='F','label-success': o.estado=='T','label-danger': o.estado==''}">
                                            {{o.estado=='A'?'Asistio':o.estado=='F'?'Falta':o.estado=='T'?'Tardanza':'Otros'}}
                                        </span>
                                    </td>
                                    <td data-title="'Justificacion'" style="text-align: center">
                                        {{o.jus}}
                                    </td>
<!--                                    <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estados" sortable="'estado'" style="text-align: center">
                                        <span class="label label-mini" ng-class="{'label-info': o.estado=='N','label-warning': o.estado=='E','label-success': o.estado=='C','label-danger': o.estado=='F'}">
                                            {{o.estado=='N'?'nuevo':o.estado=='E'?'enviado':o.estado=='C'?'calificado':'fuera tiempo'}}
                                        </span>
                                    </td>-->
<!--                                    <td data-title="'Accion'" style="text-align: center">
                                        <button ng-if="o.estado!='F'" class="btn btn-xs" ng-class="{'btn-success':o.estado=='N','btn-primary':o.estado=='E'||o.estado=='C'}" ng-click="prepararEnviar(o)" title="{{o.estado=='N'? 'enviar tarea':'ver tarea'}}"><i class="fa" ng-class="{'fa-sign-out':o.estado=='N','fa-eye':o.estado=='E'||o.estado=='C'}"></i></button>
                                    </td>-->

                                </tr>
                            </table>
                        </div>
                        <br>
                        <header class="panel-heading">
                            <a>Resumen:</a>
                        </header>
                        <br>
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label">Asistencias:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nAsis" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Tardanza Justificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nTjus" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Tardanza Injustificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.Tinj" disabled="true">
                            </div>
                        </div>
                        <div class="col-lg-12"><label></label></div>
                        
                        <div class="col-sm-12">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-3 control-label">Falta Justificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.nFjus" disabled="true">
                            </div>
                            <label class="col-sm-3 control-label">Falta Injustificada:</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" ng-model="asi.Finj" disabled="true">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirAsistencia()">Imprimir Lista</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNotasEstudiante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 950px" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">NOTAS DEL ESTUDIANTE</h4>
            </div>
            <div class="modal-body resize-modal">

                <div class="form-panel">
                    <div class="form-horizontal style-form" >
                        <header class="panel-heading">
                            <a>Areas</a>
                        </header>
                        <br>
                        
                        <div class="col-lg-12"><label></label></div>
                        <div class="col-lg-12"><label></label></div>
                        <!--<div class="form-group" >-->
                        <div class="tabla-responsiva">
                            <table ng-table="miTablaNotas" class="table table-striped table-hover" show-filter="true" >
                                <colgroup>
                                    <col width="5%" />
                                    <col width="10%" />
                                    <col width="30%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    <col width="8%" />
                                    
<!--                                    <col width="10%" />-->

                                </colgroup>
                                <tr ng-repeat="o in $data">
                                    <td data-title="'N'" sortable="'i'" style="text-align: center">
                                        {{o.i}}
                                    </td>
                                    <td data-title="'Area'"  filter="{ area: 'text'}" style="text-align: center">
                                        {{o.area}}
                                    </td>
                                    <td data-title="'Logros de Aprendizaje'" filter="{ logro: 'text'}" style="text-align: center">
                                        {{o.logro}}
                                    </td>
                                    <td data-title="'T1'"  style="text-align: center">
                                         {{o.t1}}
                                    </td>
                                    <td data-title="'T2'"  style="text-align: center">
                                         {{o.t2}}
                                    </td>
                                    <td data-title="'T3'"  style="text-align: center">
                                         {{o.t3}}
                                    </td>
                                    <td data-title="'T4'"  style="text-align: center">
                                         {{o.t4}}
                                    </td>
                                    

                                </tr>
                            </table>
                        </div>
                        <br>
                        

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="imprimirNotas()">Imprimir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>