<div class="modal fade"  id="modalActualizarLegajo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-panel">
                    <form class="form-horizontal " method="get">
                        <div class="form-group ">   
                            <label class="col-sm-3 control-label ">Descripción: </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Descripción del legajo" ng-model="legajoSel.des">
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click= "cancel()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizarLegajo()">Registrar datos</button>
            </div>
        </div>
    </div>
</div>       
