<div class="row" >
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h4>MI LEGAJO PERSONAL</h4>
            </header>
            <div class="panel-body">
                <uib-tabset id="tabModificarFichaEscalafonaria" active="tabPrincipal" justified="true" >
                    <uib-tab index="0" heading="Datos personales"> 
                        <br>
                        <form class="form-horizontal" method="get">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegDatosPersonales" >
                                        <tr ng-repeat="l in $data">
                                            <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                            <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                            <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                            <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                            <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                                <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                                <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </form>
                    </uib-tab>
                    <uib-tab index="1" heading="Datos familiares">
                        <br>
                        <form class="form-horizontal " method="get">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegDatosFamiliares" >
                                    <tr ng-repeat="l in $data">
                                        <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                        <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                        <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                        <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                        <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                            <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                            <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                        </form>
                    </uib-tab>
                    <uib-tab index="2" heading="Datos académicos">
                        <br>
                        <form class="form-horizontal" method="get">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegDatosAcademicos" >
                                    <tr ng-repeat="l in $data">
                                        <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                        <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                        <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                        <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                        <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                            <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                            <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                        </form>
                    </uib-tab>
                    <uib-tab index="3" heading="Experiencia laboral"> 
                        <br>
                        <form class="form-horizontal" method="get" >
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegExperienciaLaboral" >
                                    <tr ng-repeat="l in $data">
                                        <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                        <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                        <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                        <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                        <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                            <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                            <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                            
                    </uib-tab>
                    <uib-tab index="4" heading="Reconocimientos">  
                        <br>
                        <form class="form-horizontal " method="get">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegReconocimientos" >
                                    <tr ng-repeat="l in $data">
                                        <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                        <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                        <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                        <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                        <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                            <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                            <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </uib-tab>
                    
                    <uib-tab index="5" heading="Demeritos" ng-disabled="menu">  
                        <br>
                        
                        <form class="form-horizontal " method="get">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegDemeritos" >
                                    <tr ng-repeat="l in $data">
                                        <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                        <td data-title="'Categoria'"  style="text-align: center;width: 70px">{{l.subCatDes}}</td>
                                        <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                        <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                        <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                            <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                            <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </uib-tab>
                    
                    <uib-tab index="6" heading="Otros"> 
                        <br>
                        <form class="form-horizontal" method="get">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed table-bordered"  ng-table ="tablaMiLegOtros" >
                                        <tr ng-repeat="l in $data">
                                            <td data-title="'Nombre de documento'"  style="text-align: center;width: 70px">{{l.nomDoc}}</td>
                                            <td data-title="'Descripcion'"  style="text-align: center;width: 70px">{{l.des}}</td>
                                            <td data-title="'Fecha de ingreso'"  style="text-align: center;width: 70px">{{l.fecReg}}</td>
                                            <td data-title="'Archivo'" style="text-align: center;width: 70px">
                                                <span ng-hide="!l.existeArchivo"><view-file url="{{l.url}}" nombre="l.nomDoc"> </view-file></span>
                                                <span ng-hide="l.existeArchivo" style="color: red;"> {{l.mensaje}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>    
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset> 
            </div>
        </section>
    </div>
</div>     
