<div class="row"><div class="col-lg-12">
<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="EXPEDIENTES EN TRAMITE" >
    <section class="panel">
    
    <div class="panel-body" ng-init="buscarExpedientes(usuMaster.organizacion.organizacionID,desde,hasta)">
        
        <div class="form-horizontal" >
            <div class="form-group" >
                <div class="col-sm-offset-3 col-sm-4">
                <div class="input-group input-large" >
                    <input type="date" class="form-control " ng-model="desde" />
                    <span class="input-group-addon">A</span>
                    <input type="date" class="form-control " ng-model="hasta" />
                    <span class="input-group-btn">
                        <button class="btn btn-success " type="button" ng-click="buscarExpedientes(usuMaster.organizacion.organizacionID,desde,hasta)">buscar</button>
                    </span>
                </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="tabla-responsiva"><table ng-table="miTabla" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="65px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'DNI/RUC'" filter="{ DNI: 'text'}" sortable="'DNI'" style="text-align: center">{{o.DNI}}</td>
                <td data-title="'Prioridad'" filter="{ prioridadID: 'select'}" filter-data="prioridades" sortable="'prioridadID'" style="text-align: center">
                    {{o.nombrePrioridad}}
                </td>
                <td data-title="'Fecha Inicio'" filter="{ fecInicio: 'text'}" sortable="'fecInicio'" >{{o.fecInicio}}</td>
                <td data-title="'detalle'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalle(o)"><i class="fa fa-eye" ></i></button>
                </td>
            </tr>
        </table></div>
    </div>

    </section>
    </uib-tab>
    <uib-tab index="1" heading="EXPEDIENTES FINALIZADOS">
        <section class="panel"><div class="panel-body" ng-init="buscarExpedientesFinzalidos(usuMaster.organizacion.organizacionID,desde2,hasta2)">
            
        <div class="form-horizontal" >
            <div class="form-group" >
                <div class="col-sm-offset-3 col-sm-4">
                <div class="input-group input-large" >
                    <input type="date" class="form-control " ng-model="desde2" />
                    <span class="input-group-addon">A</span>
                    <input type="date" class="form-control " ng-model="hasta2" />
                    <span class="input-group-btn">
                        <button class="btn btn-success " type="button" ng-click="buscarExpedientesFinzalidos(usuMaster.organizacion.organizacionID,desde2,hasta2)">buscar</button>
                    </span>
                </div>
                </div>
            </div>
        </div>
        <div class="tabla-responsiva"><table ng-table="miTabla2" class="table table-striped table-hover" show-filter="true" >
          <colgroup>
            <col width="20px" /><col width="50px" /><col width="auto" /><col width="auto" /><col width="200px" /><col width="200px" /><col width="95px" />
          </colgroup>
            <tr ng-repeat="o in $data">
                <td data-title="'N'" sortable="'i'" >{{o.i}}</td>
                <td data-title="'Codigo'" filter="{ codigo: 'text'}" sortable="'codigo'" style="text-align: center">{{o.codigo}}</td>
                <td data-title="'Tramite'" filter="{ tipoTramiteID: 'select'}" filter-data="tipoTramites" sortable="'tipoTramiteID'" style="text-align: center">
                    {{o.nombreTramite}}
                </td>
                <td data-title="'DNI/RUC'" filter="{ DNI: 'text'}" sortable="'DNI'" style="text-align: center">{{o.DNI}}</td>
                <td data-title="'Fecha Inicio'" filter="{ fecInicio: 'text'}" sortable="'fecInicio'" >{{o.fecInicio}}</td>
                <td data-title="'Fecha Fin'" filter="{ fecFin: 'text'}" sortable="'fecFin'" >{{o.fecFin}}</td>
                <td data-title="'detalle'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="verDetalleConDocumentos(o)" title="ver detalle"><i class="fa fa-eye" ></i></button>
                    <button class="btn btn-primary btn-xs" ng-click="entregarExpediente(o)" title="entregar resultado"><i class="fa fa-check" ></i></button>
                </td>
            </tr>
        </table></div>
                
                
        </div></section>
    </uib-tab>
</uib-tabset>

</div></div>

<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">EXPEDIENTE</h4>
      </div>
      <div class="modal-body">
          <div class="form-horizontal style-form">
          <div class="form-group" >
            <label class="col-sm-2 control-label">Codigo</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{expedienteSel.codigo}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Tipo Tramite</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{expedienteSel.nombreTramite}}</p>
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.modo?'interno':'externo'}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Prioridad</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.nombrePrioridad}}</p>
            </div>
            <label class="col-sm-2 control-label">Folios</label>
            <div class="col-sm-4">
                <p class="form-control-static">{{expedienteSel.folios}}</p>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-2 control-label">Tramitante</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{expedienteSel.persona}}</p>
            </div>
          </div>
          </div>
          
          <div style="text-align: center"><strong>HISTORIAL DE RUTAS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 30px">N</th>                  
                  <th style="width: 30%">Area</th>
                  <th style="width: 30%">Responsable</th>
                  <th style="text-align: center; width: 150px"">Estado</th>
                  <th>Observacion</th>
              </tr>
              </thead>

              <tbody >

                <tr ng-repeat="h in expedienteSel.historial">
                    <td>{{$index + 1}}</td>                    
                    <td >{{h.area}}</td>
                    <td >{{h.responsable}}</td>
                    <td style="text-align: center">{{h.estado}}</td>
                    <td >{{h.observacion}}</td>
                </tr>
              </tbody>

            </table>
          </div>
          
          
          <div style="text-align: center"><strong>DOCUMENTOS</strong></div>
          <div class="mi-tabla" style="overflow-y: auto;max-height: 500px;">
            <table class="table table-striped table-advance table-hover" >
              <thead>
              <tr>
                  <th style="width: 50px">N</th>                  
                  <th style="width: 20%">Documento</th>
                  <th>Observacion</th>
                  <th style="width: 25%">Archivo Adjunto</th>
                  <th style="text-align: center; width: 80px"">Estado</th>
              </tr>
              </thead>
              <tbody >
                <tr ng-repeat="d in expedienteSel.documentos">
                    <td>{{$index + 1}}</td>                    
                    <td >{{d.tipoDocumento}}</td>                    
                    <td >{{d.observacion}}</td>
                    <td style="word-break: break-all;"><view-file url="{{d.url}}" nombre="d.nombreArchivo" archivo> </view-file></td>
                    <td style="text-align: center">
                        <span class="label label-mini" ng-class="{'label-warning': d.historialID,'label-info': !d.historialID}">{{d.historialID?'generado':'requisito'}}</span>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

