<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <h4 style="display:inline;line-height: 1.9">CALENDARIO</h4>
            </header>
            <div class="panel-body" ng-init="showCalendar()">        
                <div id="calendar"></div>        
            </div>
        </section>
    </div>
</div>

<script type="text/ng-template" id="calendar.html">
    <div class="modal-header">
        <div class="form-group" style="vertical-align: middle">
            <div ng-class="{'col-sm-8': calendar.est && calendar.rol, 'col-sm-9': !calendar.est || (calendar.est && !calendar.rol)}">
                <h3 class="modal-title">Registro de Actividad</h3>
            </div>
            <div class="col-sm-4" ng-if="calendar.est && calendar.rol">                  
                <div class="btn-group">
                    <label class="btn" ng-class="{'btn-default': calendar.tip !== 'P', 'btn-info': calendar.tip === 'P'}" ng-model="calendar.tip" uib-btn-radio="'P'" uncheckable>Act. Personal</label>
                    <label class="btn" ng-class="{'btn-default': calendar.tip !== 'I', 'btn-info': calendar.tip === 'I'}" ng-model="calendar.tip" uib-btn-radio="'I'" uncheckable>Institucional</label>
                    <center><small class="form-text text-muted">Tipo de Actividad</small></center>
                </div>
            </div>
            <div class="col-sm-3" ng-if="!calendar.est || !calendar.rol">                  
                <div class="btn-group">
                    <center><button class="btn btn-info" ng-disabled="true">Actividad {{calendar.tip === 'I'? "Institucional":"Personal"}}</button></center>
                    <center><small class="form-text text-muted">Tipo de Actividad</small></center>
                </div>
            </div>
        </div>        
    </div>
    <div class="modal-body">
        <form name="myForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input name="name" class="form-control" type="text" ng-model="calendar.tit" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <input name="name" class="form-control" type="text" ng-model="calendar.des" required>
                    <small class="form-text text-muted" ng-show="myForm.name.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Fecha Inicio</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input name="iniDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="calendar.ini" is-open="date_1" datepicker-options="calendar.dateOptions" close-text="Cerrar" clear-text="Limpiar" placeholder="Fecha de Entrega" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_1 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                        
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.iniDate.$error.required">Este campo es requerido</small>
                </div>
                <label class="col-sm-2 control-label">Fecha Fin</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input name="endDate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="calendar.fin" is-open="date_2" datepicker-options="calendar.dateOptions" close-text="Cerrar" clear-text="Limpiar" placeholder="Fecha de Entrega" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="date_2 = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <small class="form-text text-muted" ng-show="myForm.endDate.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hora Inicio</label>
                <div class="col-sm-4">
                    <div uib-timepicker ng-model="calendar.ini" show-spinners="false" show-meridian="true"></div>
                </div>                
                <label class="col-sm-2 control-label">Hora Fin</label>
                <div class="col-sm-4">
                    <div uib-timepicker ng-model="calendar.fin" show-spinners="false" show-meridian="true"></div>   
                </div>  
            </div>
            <div class="form-group" ng-if="calendar.tip === 'I' && calendar.est">
                <label class="col-sm-2 control-label">Módulo</label>
                <div class="col-sm-4">
                    <select class="form-control" name="module" ng-model="calendar.mod" ng-change="calendar.loadSubModules()" required>
                        <option ng-repeat="module in calendar.modules" value="{{module.cod}}">{{module.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.module.$error.required">Este campo es requerido</small>
                </div>
                <label class="col-sm-2 control-label">Submódulo</label>
                <div class="col-sm-4">
                    <select class="form-control" name="subModule" ng-model="calendar.sub" ng-change="calendar.loadFunctions()" ng-disabled="calendar.modEst" required>
                        <option ng-repeat="subModule in calendar.subModules" value="{{subModule.cod}}">{{subModule.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.subModule.$error.required">Este campo es requerido</small>
                </div>
            </div>
            <div class="form-group" ng-if="calendar.tip === 'I' && calendar.est">
                <label class="col-sm-2 control-label">Funcionalidad</label>
                <div class="col-sm-10">
                    <select class="form-control" name="function" ng-model="calendar.fun" ng-disabled="calendar.subEst" required>
                        <option ng-repeat="function in calendar.functions" value="{{function.cod}}">{{function.nom}}</option>
                    </select>
                    <small class="form-text text-muted" ng-show="myForm.function.$error.required">Este campo es requerido</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="calendar.accept()" ng-if="calendar.est"><span class="glyphicon glyphicon-floppy-saved"></span> Registrar</button>
        <button class="btn btn-warning" ng-disabled="calendar.del" ng-click="calendar.remove()" ng-if="!calendar.est"><span class="glyphicon glyphicon-floppy-remove"></span> Eliminar</button>
        <button class="btn btn-success" ng-disabled="myForm.$invalid || myForm.$pristine" ng-click="calendar.accept()" ng-if="!calendar.est"><span class="glyphicon glyphicon-floppy-save"></span> Modificar</button>
        <button class="btn btn-danger" ng-click="calendar.cancel()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
    </div>
</script>