<div class="mini-stat clearfix" >
    <div class="col-xs-12" align="center" >
        <span class="alert-icon" ng-click="regresar()" style="position: absolute;left: 0;">
            <i class="fa fa-chevron-left" style="color: #aec785;"></i>
        </span>
    <span class="mini-stat-icon orange" style="margin: 0 auto;float:none"><i class="fa fa-user"></i></span>
    </div>
</div>
<div class="form-group has-feedback">
    <input id="entrada" type="text" class="form-control" placeholder="Usuario" autofocus ng-model="usuario.nombre" ng-disabled="bloquear">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<button class="btn btn-lg btn-login btn-block" type="submit" ng-click="recuperarPassword()" ng-disabled="bloquear">recuperar Contraseña</button>
<script>
    document.getElementById("entrada").focus();
</script>